.category-item {
  width: 150px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
  cursor: pointer;
}
.category-item:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

.category-item > p {
  padding: 9px 8px 6px 8px;
  font-family: "Spartan", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}

.categories {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 80px;
}

@media screen and (max-width: 600px) {
  .categories {
    padding: 20px 20px;
  }
}
