.speedDial {
  position: fixed;
  right: 3vmax;
  top: 3vmax;
}

.speedDialIcon {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}

.header-logo {
  font-family: Montserrat;
  z-index: 10;
}

.linksReactNavbar {
  font-family: Montserrat !important;
}
